body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(135deg, #93d4ea, #90e6e3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 450px;
    text-align: center;
}

.title {
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.search-box input {
    width: 65%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

.search-box button {
    padding: 10px 15px;
    border: none;
    background: #fff;
    color: #333;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.error {
    margin-top: 20px;
    padding: 10px;
    background: #ff4d4d;
    color: white;
    border-radius: 8px;
    font-weight: 600;
}

.weather-card {
    margin-top: 25px;
    background: rgba(96, 85, 85, 0.2);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    color: white;
    animation: fadeIn 0.6s ease;
}

.weather-icon img {
    width: 120px;
}

.temp {
    font-size: 42px;
    margin: 10px 0;
    font-weight: bold;
}

.desc {
    font-size: 20px;
    margin-bottom: 10px;
}

.details {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
